@import "root-colors.css";
@import "style.css";

.bg-footer-reader {
    background: var(--Tlight-lightGreen);
    box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.24);
}

.footer .themes > {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: Vazirragular;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.footer .themes .fa-sun-bright {
    stroke-width: 1.1px;
    stroke: var(--Tlight-veryDarkGreen);
}

.footer .speed > {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: Vazirragular;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.footer .singer {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: Vazirragular;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

/*PRAYER STYLES*/
.prayer {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: KFGQPC Uthman Taha Naskh;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}