@import "root-colors.css";
@import "style.css";
@import "kfg-font.css";
/*@import "noto-sans.css";*/


.prayer-box {
    height: 100vh;
}

.content .prayer {
    font-family: KFG;
}

.content .text {
    font-family: "noto", sans-serif;
    font-size: 1.4rem;
}

.content .quran {
    color: var(--Tlight-veryDarkGreen);
}

.bg-footer-reader {
    background: var(--Tlight-lightGreen);
    box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.24);
}

.footer .themes > {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: Vazirragular;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.footer .themes .fa-sun-bright {
    stroke-width: 1.1px;
    stroke: var(--Tlight-veryDarkGreen);
}

.footer .speed > {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: Vazirragular;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.footer .singer button {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: 'noto', sans-serif;
    font-size: 12px;
    font-style: normal;
    white-space: nowrap;
}

/*PRAYER STYLES*/
.prayer {
    color: var(--Tlight-veryDarkGreen);
    text-align: justify;
    font-family: KFGQPC Uthman Taha Naskh;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.width-element-footer {
    width: 30px;
}