:root {
    --Tlight-lightGreen: #E2F0F1;
    --Tlight-green: #B8DBD9;
    --Tlight-darkGreen: #1C6981;
    --Tlight-veryDarkGreen: #0C1F34;
    --Tlight-AccordionGreen1: #c4e7e4;
    --Tlight-AccordionGreen2: #cfecea;
}