/*ROOT COLOR*/

/*ROOT COLOR*/

:root {
    --Tlight-lightGreen: #E2F0F1;
    --Tlight-green: #B8DBD9;
    --Tlight-darkGreen: #1C6981;
    --Tlight-veryDarkGreen: #0C1F34;
    --Tlight-AccordionGreen1: #c4e7e4;
    --Tlight-AccordionGreen2: #cfecea;
}

* {
    box-sizing: border-box;
}

/*header*/

.bg-header {
    background: var(--Tlight-lightGreen);
}

.width-element-header {
    width: 50px;
}

.bg-photo {
    background: url("../images/nody-عکس-ضریح-امام-حسین-برای-پروفایل-1628285252 1.jpg");
    background-size: cover;
}

.bg-light-green {
    background-color: var(--Tlight-green);
}

.bg-searchbox {
    background: var(--Tlight-lightGreen);
}

/*header*/


/*TABS STYLE*/
.bg-tabs {
    background: var(--Tlight-lightGreen) !important;
    transition: background-color .3s;
}

.text-color-tabs {
    color: var(--Tlight-darkGreen) !important;
    transition: color .3s;
}

ul.nav li.nav-item .active {
    background: var(--Tlight-darkGreen) !important;
    color: var(--Tlight-lightGreen) !important;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
}

/*TABS STYLE*/

/*OFFCANVAS*/

/*OFFCANVAS*/
/*ofcanvas tabs accordion*/

.accordion-item:nth-child(odd) {
    --bs-accordion-bg: var(--Tlight-green); /*COLOR OF BOX WHEN ACCORDION IS OPEN*/
    --bs-accordion-active-bg: var(--Tlight-AccordionGreen1); /*COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS OPEN*/
    --bs-accordion-btn-bg: var(--Tlight-AccordionGreen1); /*THE COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS CLOSED*/
    border: none;
}

.accordion-item:nth-child(even) {
    --bs-accordion-bg: var(--Tlight-green); /*COLOR OF BOX WHEN ACCORDION IS OPEN*/
    --bs-accordion-active-bg: var(--Tlight-AccordionGreen2); /*COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS OPEN*/
    --bs-accordion-btn-bg: var(--Tlight-AccordionGreen2); /*THE COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS CLOSED*/
    border: none;
}

/*.accordion-item:nth-child(odd) .accordion-button {*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    border: none;*/
/*}*/

/*.accordion-item:nth-child(even) .accordion-button {*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    border: none;*/
/*}*/

.accordion-item:nth-child(odd) .accordion-item {
    --bs-accordion-bg: transparent; /*COLOR OF BOX WHEN ACCORDION IS OPEN*/
    --bs-accordion-active-bg: transparent; /*COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS OPEN*/
    --bs-accordion-btn-bg: transparent; /*THE COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS CLOSED*/
    border: none;
}

.accordion-item:nth-child(even) .accordion-item {
    --bs-accordion-bg: transparent; /*COLOR OF BOX WHEN ACCORDION IS OPEN*/
    --bs-accordion-active-bg: transparent; /*COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS OPEN*/
    --bs-accordion-btn-bg: transparent; /*THE COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS CLOSED*/
    border: none;
}

.accordion-body > * {
    /*padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);*/
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.accordion-body .accordion-item > * {
    /*padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);*/
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.accordion-body .accordion-item .accordion-body-links > * {
    /*padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);*/
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.accordion-body > *:last-child {
    /*padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);*/
    border-bottom: none;
    border-radius: 0;
}

.accordion-body .accordion-item > *:last-child {
    /*padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);*/
    border-bottom: 1px none;
    border-radius: 0;
}

.accordion-body .accordion-item .accordion-body-links > *:last-child {
    /*padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);*/
    border-bottom: 1px none;
    border-radius: 0;
}

.accordion-body-links {
    padding: 0 2.8rem;
}

/*CHANGE STYLE OF COLLAPSED BUTTON IN ACCORDION*/
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    margin: 0;
    transform: rotate(90deg);
    color: black;
}

/*CHANGE STYLE OF COLLAPSED BUTTON IN ACCORDION WHEN ACCORDION IS OPEN*/
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
    transform: rotate(180deg);
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: none;
}

/*STYLING ACCORDION BUTTONS WHEN FOCUSED*/


/*ofcanvas tabs accordion*/

/*OFFCANVAS PROFILE*/
.dropup-bg-profile {
    background: var(--Tlight-lightGreen);
}

.Profile .dropup .dropdown-menu li a .active-dropdown:active {
    background: var(--Tlight-darkGreen) !important;
    color: var(--Tlight-lightGreen) !important;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
}

/*OFFCANVAS PROFILE*/


/*body*/
/*calender*/


.calendar-box-width {
    width: 70%;
}

.calendar-box-color {
    background: rgb(12, 31, 52, 0.65);
}

.text-color {
    color: #B4924D;
}

/*FILTER BOX*/
.filter-box {
    display: none;
}

.bg-filter-box {
    background: var(--Tlight-lightGreen);
}

.filter-text-color {
    color: var(--Tlight-darkGreen);
}

.form-check-input[type=checkbox] {
    border-radius: 0.35em;
}

.form-check-input {
    accent-color: transparent;
    background-color: white;
    border: 2px solid var(--Tlight-darkGreen);
}

.form-check-input:focus {
    border-color: var(--Tlight-darkGreen);
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked {
    accent-color: var(--Tlight-lightGreen);
    background-color: transparent;
    color: var(--Tlight-veryDarkGreen);
    border: 2px solid black;
}
/*FILTER BOX*/

@media screen and (min-width: 768px) {
    .calendar-box-width {
        width: 40%;
    }
}

.message-box-width {
    width: 80%;
}

.message-box-color {
    background: var(--Tlight-darkGreen);
}

@media screen and (min-width: 768px) {
    .message-box-width {
        width: 45%;
    }
}

.text-color-prayers {
    color: #847048;
}

.bg-actions {
    background: var(--Tlight-lightGreen);
}

.hover-none:hover {
    color: black;
}

.form-box form * *:focus, .form-box form * *:active, .form-box form * *:focus-within {
    background: var(--bs-form-control-bg) !important;
    /*border-radius: 6rem !important;*/
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}

.btn.bg-searchbox:focus,
.btn.bg-searchbox:active,
.btn.bg-searchbox:focus-within,
.btn.bg-searchbox:hover {
    background-color: var(--bs-form-control-bg) !important;
}

.hover-boutton-search-box {
    background: var(--Tlight-lightGreen);
    border: none;
    box-shadow: none;
}

.text-profile-color {
    color: var(--Tlight-darkGreen);
}

.border-start-1 {
    border-right: 0.5px solid black;
}

.border-top-1 {
    border-top: 0.5px solid black;
}

.bg-footer {
    background: var(--Tlight-veryDarkGreen);
}

.text-color-footer {
    color: var(--Tlight-green);
}

.text-color-copyright {
    color: #043353;
}