* {
    box-sizing: border-box;
}

.bg-header {
    background: #E2F0F1;
}

.bg-light-green {
    background-color: #B8DBD9;
}

.bg-searchbox {
    background: #E2F0F1;
}

.calendar-box-width {
    width: 70%;
}

.calendar-box-color {
    background: #0C1F34;
}

.text-color {
    color: #B4924D;
}

@media screen and (min-width: 768px) {
    .calendar-box-width {
        width: 40%;
    }
}

.message-box-width {
    width: 80%;
}

.message-box-color {
    background: #1C6981;
}

@media screen and (min-width: 768px) {
    .message-box-width {
        width: 45%;
    }
}

.text-color-footer {
    color: #847048;
}

.bg-actions {
    background: #E2F0F1;
}

.hover-none:hover {
    color: black;
}

.hover-input-search:hover,
.hover-input-search:focus,
.hover-input-search:active {
    background: #E2F0F1;
    border: none;
    box-shadow: none;
}