/*ROOT COLOR*/

/*ROOT COLOR*/

:root{
    --Tlight-lightGreen: #E2F0F1;
    --Tlight-green: #B8DBD9;
    --Tlight-darkGreen: #1C6981;
    --Tlight-AccordionGreen1: #c4e7e400;
    --Tlight-AccordionGreen2: #cfecea00;
}

* {
    box-sizing: border-box;
}

/*header*/

.bg-header {
    background: var(--Tlight-lightGreen);
}

.width-element-header {
    width: 50px;
}

.bg-photo {
    background: url("../images/nody-عکس-ضریح-امام-حسین-برای-پروفایل-1628285252 1.jpg");
    background-size: cover;
}

.bg-light-green {
    background-color: var(--Tlight-green);
}

.bg-searchbox {
    background: var(--Tlight-lightGreen);
}

/*header*/


/*TABS STYLE*/
.bg-tabs {
    background: var(--Tlight-lightGreen) !important;
    transition: background-color .3s;
}

.text-color-tabs {
    color: var(--Tlight-darkGreen) !important;
    transition: color .3s;
}

ul.nav li.nav-item .active {
    background: var(--Tlight-darkGreen) !important;
    color: var(--Tlight-lightGreen) !important;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25) inset;
}
/*TABS STYLE*/


/*ofcanvas tabs accordion*/
button.accordion-button:nth-child(odd) {
    --bs-accordion-btn-bg: var(--Tlight-lightGreen);
    --bs-accordion-active-bg: #c4e7e400;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    margin: 0;
}
/*ofcanvas tabs accordion*/

/*OFFCANVAS PROFILE*/
.dropup-bg-profile {
    background: var(--Tlight-lightGreen);
}
/*OFFCANVAS PROFILE*/



/*body*/
/*calender*/


.calendar-box-width {
    width: 70%;
}

.calendar-box-color {
    background: rgb(12, 31, 52, 0.65);
}

.text-color {
    color: #B4924D;
}

@media screen and (min-width: 768px) {
    .calendar-box-width {
        width: 40%;
    }
}

.message-box-width {
    width: 80%;
}

.message-box-color {
    background: var(--Tlight-darkGreen);
}

@media screen and (min-width: 768px) {
    .message-box-width {
        width: 45%;
    }
}

.text-color-prayers {
    color: #847048;
}

.bg-actions {
    background: var(--Tlight-lightGreen);
}

.hover-none:hover {
    color: black;
}

.hover-input-search:hover,
.hover-input-search:focus,
.hover-input-search:active {
    background: var(--Tlight-lightGreen);
    border: none;
    box-shadow: none;
}

.hover-boutton-search-box {
    background: var(--Tlight-lightGreen);
    border: none;
    box-shadow: none;
}

.text-profile-color {
    color: var(--Tlight-darkGreen);
}

.border-start-1 {
    border-right: 0.5px solid black;
}
.border-top-1 {
    border-top: 0.5px solid black;
}

.bg-footer {
    background: #0C1F34;
}

.text-color-footer {
    color: var(--Tlight-green);
}

.text-color-copyright {
    color: #043353;
}