* {
    box-sizing: border-box;
}

/*header*/

.bg-header {
    background: #E2F0F1;
}

.width-element-header {
    width: 50px;
}

.bg-photo {
    background: url("../images/nody-عکس-ضریح-امام-حسین-برای-پروفایل-1628285252 1.jpg");
    background-size: cover;
}

.bg-light-green {
    background-color: #B8DBD9;
}

.bg-searchbox {
    background: #E2F0F1;
}

/*header*/


/*TABS STYLE*/
.bg-tabs {
    background: #E2F0F1;
    transition: background-color .3s;
}

.text-color-tabs {
    color: #1C6981;
    transition: color .3s;
}

/*.tab-hover:hover,*/
/*.tab-hover:focus,*/
.tab-hover:active {
/*.tab-hover:visited */
    color: #E2F0F1;
    background: #1C6981;
}

.action {
    color: #E2F0F1;
    background: #1C6981;
}
/*TABS STYLE*/


/*ofcanvas tabs accordion*/
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    margin: 0;
}
/*ofcanvas tabs accordion*/

/*OFFCANVAS PROFILE*/
.dropup-bg-profile {
    background: #E2F0F1;
}
/*OFFCANVAS PROFILE*/



/*body*/
/*calender*/


.calendar-box-width {
    width: 70%;
}

.calendar-box-color {
    background: rgb(12, 31, 52, 0.65);
}

.text-color {
    color: #B4924D;
}

@media screen and (min-width: 768px) {
    .calendar-box-width {
        width: 40%;
    }
}

.message-box-width {
    width: 80%;
}

.message-box-color {
    background: #1C6981;
}

@media screen and (min-width: 768px) {
    .message-box-width {
        width: 45%;
    }
}

.text-color-prayers {
    color: #847048;
}

.bg-actions {
    background: #E2F0F1;
}

.hover-none:hover {
    color: black;
}

.hover-input-search:hover,
.hover-input-search:focus,
.hover-input-search:active {
    background: #E2F0F1;
    border: none;
    box-shadow: none;
}

.hover-boutton-search-box {
    background: #E2F0F1;
    border: none;
    box-shadow: none;
}

.text-profile-color {
    color: #1C6981;
}

.border-start-1 {
    border-right: 0.5px solid black;
}
.border-top-1 {
    border-top: 0.5px solid black;
}

.bg-footer {
    background: #0C1F34;
}

.text-color-footer {
    color: #B8DBD9;
}

.text-color-copyright {
    color: #043353;
}